<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="AvailablePCs-433c-9011-7aec76d30602" Publisher="CN=Admin" Version="1.0.0.2" />
  <Properties>
    <DisplayName>AvailablePCs</DisplayName>
    <PublisherDisplayName>William</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AvailablePCs.App">
      <VisualElements DisplayName="Lab Computer Availability" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Lab Computer Availability" ForegroundText="light" BackgroundColor="#660000">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="txtfiles">
            <InfoTip>Text Files</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.txt</FileType>
              <FileType>.png</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>